{% extends 'survey/base.html' %}
{% load i18n %}

{% block content %}
<h1>{{survey}} <small>{{hospital}}</small></h1>
{{ survey.instruction | safe }}
<form method="POST">

{% csrf_token %}
  {% for category, question_set in form.grouped_fields %}
      <h3>{{category}}</h3>
      {% for question, subquestion_set in question_set %}
          <h4>{{question}}</h4>
          {% for subquestion, field in subquestion_set %}
              <div>
                {{ field.errors }}
                <div class="form-group">
                  <div class="form-group-label">
                    {{ field.label_tag }}
                  </div>
                  <div class="form-group-input">
                    {{ field }}
                  </div>
                </div>
              </div>
          {% endfor %}
      {% endfor %}
  {% endfor %}
  <div>
    {{ survey.end_text | safe }}
  </div>
  <div>
    <button type="submit" class="btn-brand">{% trans 'Save answer' %}</button>
  </div>
  <br>
  <br>
  <br>
  <a href="{{survey_list_url}}" class="btn-brand">Powrót do listy szpitali</a>
</form>
{% endblock %}

{% block javscripts %}
{{ block.super }}
<!-- <script src="https://cdn.rawgit.com/leafo/sticky-kit/v1.1.2/jquery.sticky-kit.min.js" type="text/javascript"></script>
<script type="text/javascript">
$('h3').stick_in_parent();
</script> -->
{% endblock javscripts %}
