# General settings
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=6q(=sep%ppt97#-8!=8z7648l9rqtzbr(3m#zjaqaj-ganba_-
DJANGO_ALLOWED_HOSTS=nfz.ankietypoloznicze.rodzicpoludzku.pl.

DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=

# Sentry
DJANGO_SENTRY_DSN=



