/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    font-family: 'PT Sans', 'Times New Roman', sans-serif;
}
.container{
    width: 900px;
    margin: 0 auto;
}

.header {

background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(190,213,236,1) 47%, rgba(190,213,236,1) 59%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(190,213,236,1)), color-stop(59%, rgba(190,213,236,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(190,213,236,1) 47%, rgba(190,213,236,1) 59%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(190,213,236,1) 47%, rgba(190,213,236,1) 59%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(190,213,236,1) 47%, rgba(190,213,236,1) 59%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(190,213,236,1) 47%, rgba(190,213,236,1) 59%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bed5ec', GradientType=0 );
    height: 350px;
}

.header-top {
    height: 130px;
}
.header-bottom {
    border-top: 5px solid #FD0000;
    height: 180px; /* 350 - 130 - 2*20*/
    background: white;
    padding: 20px;
}
.content{
    background: #F1F1EF;
}
.content .page-content{
    padding: 20px;
    background: white;
}


h1, h2, h3, h4, h5, h6{
    color: #000066;
    font-weight: 700;
    font-size: 1.8em;
    background: white;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #4f71b1;
}
h2{
    font-size: 1.7em;
}
h3{
    font-size: 1.6em;
}
h4{
    font-size: 1.4em;
}
h5{
    font-size: 1.3em;
}
h6{
    font-size: 1.2em;
}





.cell-input {
    padding: 10px 0;
    text-align: center;
}
.cell-input input {
    border: none;
    border-bottom: 3px dashed black;
    text-align: center;
}
/*
    Full-width: 900;
    Padding: 20;
    Content: 900 - 2*20 = 860
    Heading: 860/5 = 172;
*/


table, td, th{
    border: 1px solid black;
}
table th,
table td {
    width: 172px;
}

table td input {
    width: 152px;
}

table th.one-and-halt-column,
table td.one-and-halt-column {
    width: 258px;
}
table th.double-column,
table td.double-column {
    width: 344px;
}
table th.triple-column,
table td.triple-column {
    width: 516px;
}


.text-center{
    text-align: center;
}

.btn-brand {
  border: 1px solid #445B95;
  border-radius: 5px;
  color: #204180;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 16px;
  background: -webkit-linear-gradient(93deg, #c7ccdb 30%, white 60%);
  background: linear-gradient(-3deg, #c7ccdb 30%, white 60%);
  text-transform: uppercase;
  box-shadow: 5px 5px 8px 2px #C8CBDF;
  text-decoration: none;
  display: inline-block;
}
.btn-brand:hover, .btn-brand:active, .btn-brand:focus {
  background: -webkit-linear-gradient(93deg, #a8b0c7 30%, white 80%);
  background: linear-gradient(-3deg, #a8b0c7 30%, white 80%);
}

table.table {
  width: 100%;
  border: none;
  border: 2px solid #bed5ec;
  margin-bottom: 1em;
}

table.table th, table.table td {
  border: none;
}

table.table thead th{
  background: #bed5ec;
  padding: 5px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
}

table.table tbody td{
  padding: 5px;
  border-top: 2px solid #bed5ec;
}
.form-group:before,
.form-group:after {
    content: " ";
    display: table;
}

.form-group:after {
    clear: both;
}

.form-group {
    *zoom: 1;
    margin-bottom: 16px;
}
.form-group-label, .form-group-input{
  float: left;
}
.form-group-label{
  width: 50%
}

.form-group-input{
  width: 50%
}
.form-group-input select,
.form-group-input input {
  width: 98%;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
